dagster~=1.4.15
dagster-aws~=0.20.15
dagster-cloud~=1.4.15
dagster-cloud-cli~=1.4.15
dagster-docker~=0.20.15
dagster-postgres~=0.20.15
dagster-shell~=0.20.15
dagster-webserver~=1.4.15
postgres~=4.0
numpy~=1.26.0
opencv-python~=4.8.0
black
